@model List<Teststation.Models.ViewModels.CandidateListEntryViewModel>
@{
    ViewData["Title"] = "CandidateList";
}

<h1>CandidateList</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Zeit bis zur Löschung
            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @user.Name
                </td>
                <td>
                    Zeit
                </td>
                <td>
                    <button type="submit" class="btn btn-danger" asp-action="CandidateDetails" asp-route-id="@user.UserId" formnovalidate>Details</button>
                    <a href="/CandidateManagement/CandidateDetails?id=@user.UserId" class="btn btn-primary">Details</a>
                </td>
                <td>
                    <button type="submit" class="btn btn-danger" asp-action="DeleteCandidate" asp-route-id="@user.UserId" formnovalidate>Löschen</button>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <button type="submit" class="btn btn-danger" asp-action="Register" asp-controller="Account" formnovalidate>Neuen Testkandidat hinzufügen</button>
            </td>
        </tr>
    </tfoot>
</table>