@model Teststation.Models.ViewModels.UserCreationViewModel
@{
    ViewBag.Title = "Account Erstellung";
}
<h1>Account Erstellung</h1>

<form method="post" asp-controller="Account" asp-action="AccountCreation">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" required />
                <span asp-validation-for="Password"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" required />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>

            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Erstellen" />
            </div>
        </div>
    </div>


</form>