@model Teststation.Models.ViewModels.LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutZero.cshtml";
}
<div class="row">
    <div class="col-sm-4">
        <form method="post" asp-controller="Account" asp-action="Login">
            <div>
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username"></span>
            </div>

            <div>
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>
            <br />
            <input asp-action="Login" type="submit" value="Anmelden" class="form-control btn btn-primary" />
        </form>
    </div>
</div>

