@model Teststation.Models.ViewModels.LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutZero.cshtml";
    ViewData["Title"] = "Login";
}
<div class="row">
    <div class="col-sm-4">
        <form method="post" asp-controller="Account" asp-action="Login">
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" required/>
                <span asp-validation-for="Username" class="error">@Model.UsernameError</span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" required/>
                <span asp-validation-for="Password" class="error">@Model.PasswordError</span>
            </div>
            <div class="form-group">
                <input asp-action="Login" type="submit" value="Anmelden" class="form-control btn btn-primary" />
            </div>            
        </form>
    </div>
</div>

