@model Teststation.Models.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
    ViewData["Title"] = "Nutzer Erstellung";
}
<h1>Neuer Nutzer</h1>
<div class="row">
    <div class="col-sm-4">
        <form method="post" asp-controller="Account" asp-action="Register">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" required />
                <ul asp-validation-for="Username">
                    @foreach (var error in Model.UsernameErrors)
                    {
                        <li class="error">@error</li>
                    }
                </ul>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password"  class="form-control" type="text" required minlength="@Consts.minimalPasswordLength"/>
                <ul asp-validation-for="Password" class="error">
                    @foreach (var error in Model.PasswordErrors)
                    {
                        <li class="error">@error</li>
                    }
                </ul>
            </div>

            <div class="form-group">
                <input type="submit" value="Neuen Testkandidat erstellen" class="form-control btn btn-primary"/>
            </div>

        </form>
    </div>
</div>