.inline-buttons {
    display: inline !important;
    max-width: 50px;
}

.questionBlock, .choicesBlock {
    width: 80%;
    margin: 2%;
}

.buttonInMainList {
    width: 100%;
}

.positionOfQuestion, .positionOfQuestion:hover, .positionOfQuestion:focus, .positionOfQuestion:active, .positionOfQuestion:target {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 900;
    color: black !important;
    font-size: 20px;
    cursor: default !important;
    border-radius: 0;
    padding: 2px !important;
    background-color: white !important;
    border-left: none;
    border-right: none;
    border-color: rgb(23, 162, 184) !important;
}

.item-info, .item-info:hover, .item-info:focus, .item-info:active, .item-info:target {
    width: 100%;
    cursor: default !important;
    border-color: #17a2b8 !important;
    background-color: #17a2b8 !important;
    color: #fff !important;
    box-shadow: none;
}

.input-info, .input-info:hover, .input-info:focus, .input-info:active, .input-info:target {
    width: 100%;
    cursor: default !important;
    border-color: #17a2b8 !important;
    background-color: #fff !important;
    color: black !important;
}

.choiceBlock {
    margin-bottom: 5px;
}

.choiceCheckbox {
    margin: 0px !important;
    width: calc(1.5em + 0.75rem + 2px);
}