@model CircuitEvalutionViewModel

<table>
    <tr>
        <td class="corner_TopLeft">
        </td>
        @for (int i = 0; i < 3; i++)
        {
            <td class="resistorSymbol">
            </td>
            <td class="line_Horizontal">
            </td>
        }
        <td class="lampSymbol">
        </td>
        <td class="corner_TopRight">
        </td>
    </tr>
    <tr>
        <td class="line_Vertical">
        </td>
        @for (int i = 0; i < 3; i++)
        {
            <td class="partOfCircuit">
                <div class="halfHeight">
                    <div class="input-group mb-3 circuit-row resistanceValues">
                        <div class="form-control questionText circuitQuestionGivenValues">
                            @Model.Question.Parts[0].Resistors()[i].CorrectResistance.ToString("F2")
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text">Ω</span>
                        </div>
                    </div>
                </div>
                <div class="halfHeight">
                    @if (!Model.Question.Parts[0].Resistors()[i].Visible)
                    {
                        var userAnswer = Model.GivenAnswers.FirstOrDefault(x => x.ResistorId == Model.Question.Parts[0].Resistors()[i].Id).GivenResistance.ToString("F2");
                        var styleOfRow = "nonRelevantAnswerRow";
                        @if (Model.Question.Parts[0].Resistors()[i].CorrectResistance.ToString("F2") == userAnswer)
                        {
                            styleOfRow = "correctCircuitAnswer";
                        }
                        else
                        {
                            styleOfRow = "falseCircuitAnswer";
                        }

                        <div class="input-group mb-3 circuit-row resistanceValues">
                            <div class="form-control questionText circuitQuestionGivenValues Value_@styleOfRow">
                                @Model.GivenAnswers.FirstOrDefault(x => x.ResistorId == Model.Question.Parts[0].Resistors()[i].Id).GivenResistance.ToString("F2")
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text Symbol_@styleOfRow">Ω</span>
                            </div>
                        </div>
                    }
                </div>
            </td>
            <td></td>
        }
    <td class="partOfCircuit">
        <div class="halfHeight">
            <div class="input-group mb-3 circuit-row resistanceValues">
                <div class="form-control questionText circuitQuestionGivenValues">
                    @Model.Question.Parts[0].Resistance.ToString("F2")
                </div>
                <div class="input-group-append">
                    <span class="input-group-text">Ω</span>
                </div>
            </div>
        </div>
        <div class="halfHeight">
            <div class="input-group mb-3 circuit-row resistanceValues">
                <div class="form-control questionText circuitQuestionGivenValues">
                    @Model.Question.Parts[0].NeededCurrent.ToString("F2")
                </div>
                <div class="input-group-append">
                    <span class="input-group-text">V</span>
                </div>
            </div>
        </div>
    </td>
        <td class="line_Vertical">
        </td>
    </tr>

    <tr>
        <td class="CircuitSource">
        </td>
        @for (int i = 0; i < 3; i++)
        {
            <td></td>
            <td></td>
        }
        <td></td>
        <td class="line_Vertical">
        </td>
    </tr>
    <tr>
        <td class="corner_BottomLeft">
        </td>
        @for (int i = 0; i < 3; i++)
        {
            <td class="line_Horizontal">
            </td>
            <td class="line_Horizontal">
            </td>
        }
        <td class="line_Horizontal">
        </td>
        <td class="corner_BottomRight">
        </td>
    </tr>
</table>