@model Teststation.Models.MathAnswer
<div class="row">
    <div class="col-sm-6">
        <textarea class="questionText form-control">@Model.GetQuestion().Text</textarea>
    </div>
    <div class="col-sm-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text mathAnswerInEvaluation">Geforderte Antwort:</span>
            </div>
            <div class="questionText form-control answerTextInEvaluation">@Model.Question.CorrectAnswer</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                @if (Model.IsCorrect())
                {
                    <span class="input-group-text correctAnswer mathAnswerInEvaluation">Gegebene Antwort:</span>
                }
                else
                {
                    <span class="input-group-text falseAnswer mathAnswerInEvaluation">Gegebene Antwort:</span>
                }
            </div>
            <div class="questionText form-control answerTextInEvaluation">@Model.GivenAnswer</div>
        </div>
    </div>
</div>