@model TestAnswerViewModel
@{
    ViewData["Title"] = "Beantwortung";
}
<form asp-action="Edit" id="AnswerForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="TestId" name="model.TestId" />
    <h1>@Model.Topic</h1>
    @foreach (var question in Model.Questions)
    {
        <partial name="QuestionHead" model="@question" />
    }
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <input asp-action="Break" type="submit" value="Unterbrechen" class="btn btn-primary" formnovalidate onclick="Leaving();" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <input id="leavingButton" asp-action="Finish" type="submit" value="Abschließen" class="btn btn-primary" formnovalidate onclick="if (ConfirmFinishTestAnswer()) { Leaving(); return true; } else { return false; }" />
            </div>
        </div>
    </div>
</form>

@if (!Model.IsStarted)
{
    <script>
        $('.checkboxAnswerJS').prop('checked', false);
    </script>
}
<script>
    var IsLeavingCorrectly = false;

    function Leaving() {
        IsLeavingCorrectly = true;
    }

    window.onbeforeunload = function (e) {
        if (!IsLeavingCorrectly) {
            $.ajax
                ({
                    type: 'POST',
                    url: '/TestAnswer/Break',
                    data: $('#AnswerForm').serialize(),
                    dataType: 'html',
                    error: function (xhr, status, error) {
                    },
                    success: function () {
                    }
                });
        }
    };

    $(document).ready(function () {
        $('#leavingButton').click(function () {
            var checked = true;
            for (var i = 0; i < @(Model.Questions.Count); i++) {
                if (!$("input[group=" + i + "_Check]:checked").length) {
                    checked = false;
                }
            }  
            if(!checked) {
                alert("Du musst pro Frage mindestens eine Antwortmöglichkeit auswählen.");
                return false;
            }

            checked = true;
            for (var i = 0; i < @(Model.Questions.Count); i++) {
                if (!$("input[group=" + i + "_Text]").value && !$("input[group=" + i + "_Text]")) {
                    checked = false;
                }
            }     
            if(!checked) {
                alert("Du hast bei einer Frage keine Antwort eingetragen.");
                return false;
            }
      

    });
});

</script>
<script src="~/js/ResizeTextareas.js" asp-append-version="true"></script>
<script src="~/js/InputRestriction.js" asp-append-version="true"></script>