@model Test
@{
    ViewData["Title"] = "Neuer Test";
}

<h4>Neuer Test</h4>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Topic" class="control-label"></label>
        <input asp-for="Topic" class="form-control" />
        <span asp-validation-for="Topic" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>