@model Teststation.Models.TestCreationViewModel

@{
    ViewData["Title"] = "Edit";
}
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" name="model.Id" />
        <div class="form-group">
            <label asp-for="Topic" class="control-label"></label>
            <input asp-for="Topic" name="model.Topic" class="form-control" />
            <span asp-validation-for="Topic" class="text-danger"></span>
        </div>
        <div class="form-group">
            @foreach (var question in Model.Questions)
            {
                <partial name="QuestionHead" model="@question" />
            }
        </div>
        <div class="form-group">
            <button asp-action="AddMathQuestion" asp-route-id="@Model.Id" class="btn btn-primary">Neue Rechen-Frage</button>
        </div>
        <div class="form-group">
            <button asp-action="AddMultipleChoiceQuestion" asp-route-id="@Model.Id" class="btn btn-primary">Neue Multiple-Choice-Frage</button>
        </div>

        <div class="form-group">
            <input type="submit" value="Speichern" class="btn btn-primary" />
        </div>

        <div class="form-group">
            <input  asp-action="BackToMainMenu" type="submit" value="Abbrechen" class="btn btn-primary" />
        </div>
    </form>