@model List<QuoteViewModel>
@{
    ViewData["Title"] = "Easter Eggs";
}

<h1>Easter Eggs</h1>

<div class="quoteArea">
    <h4>Zitate:</h4>
    <ul>
        @foreach (var quote in Model)
        {
            <li>
                <div class="rowQuote">
                    @quote.Quote
                </div>
                <div class="rowPerson">
                    @quote.Person
                </div>
            </li>
        }

    </ul>
</div>