@model Teststation.Models.QuoteViewModel

@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Startseite";
}

<h2>Hallo @UserManager.GetUserName(User)!</h2>
<div class="quoteArea">
    <h4>Zitat:</h4>
    <div class="rowQuote">@Model.Quote</div>
    <div class="rowPerson"> ~ @Model.Person</div>
</div>
